Undies
4
Clothing
Screws
5
Hardware
Soap
2
Toiletry
Chicken_Strips
6
Food
Fries
57
Food
Bottled_Water
20
Food
Ketchup_Packets
30
Food
Pens
13
Personal
Plates
3
Kitchen
Sock
12
Clothing
